<div class="container">
  <div class="main">
    <div class="center">
      <%= image_tag "final.png", class: "last-pic" %>
      <h1>Du bist wirklich Profi</h1>
      <div class="text">
        <p>Mach ein Foto von deinem Meister- oder Gesellenbrief bzw, Servicetechniker-Zertifikat oder Ausbildungsvertrag. Visitenkarten o.ä. sind leider kein gültiger Nachweis. Die Daten werden nicht veröffentlicht und dienen nur der Verifizierung.</p>
        <br>
        <br>
        <p>Du kannst diesen Schritt überspringen. Bis dahin kannst Du nur mitlesen, nach 5 Tagen blockt dich das System.</p>
      </div>
    </div>
  </div>
  <div class="bottom">
   <div class="buttons">
      <%= link_to "Zurück", address_path, class:"button-empty" %>
      <%= link_to "Ab zu FabuCar!", login_path, class:"button-blue small" %>
    </div>
  </div>
</div>